<nz-page-header class="site-page-header" nzTitle="Abdullah's Form Builder" nzSubtitle="">
</nz-page-header>

<div class="whole">
    <div class="title">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Tell me About Your Self</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label2">Description</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>


        </form>

    </div>
    <div class="choice">
        <h2>Multiple Choice Questions</h2>
        <div class="form-group" *ngFor="let question of mcQuestions; let i = index">
            <div class="question-text">{{ i + 1 }}. {{ question.text }}</div>

            <div class="form-check" *ngFor="let option of question.options; let j = index">
                @if (i < 2) {
                    <input  type="radio" class="form-check-input" id="{{ 'option' + i + j }}" name="{{ 'question' + i }}"
                    value="{{ option.value }}">
                <label  for="{{ 'option' + i + j }}" class="form-check-label">{{ option.text }}</label>
                }
                @if (i >= 2) {
                    <input  type="checkbox" class="form-check-input" id="{{ 'option' + i + j }}" name="{{ 'question' + i }}"
                    value="{{ option.value }}">
                <label  for="{{ 'option' + i + j }}" class="form-check-label">{{ option.text }}</label>
                }
            </div>
        </div>
        <button type="submit" class="btn btn-primary submit-btn" (click)="onSubmit()">Submit Response</button>
    </div>
</div>