.site-page-header{
    font-size: 30px;
    font-weight: bolder;
    margin-top: auto;
    background-color: rgb(240, 233, 164);
    margin: auto;
    display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
    
}
.whole{
  background-color: rgb(245, 243, 232); 
  height: 100%;
  padding-top: 5%;
}
.title{
  text-align: center; 
  margin: auto 200px; 
  height: fit-content;
  font-size: large;
  font-weight: bolder;
  font-style: italic;
  background-color: white; 
  
}

.question{
  text-align: center; 
  margin: auto 200px; 
  height: fit-content;
  font-size: large;
  font-weight: bolder;
  font-style: italic;
  background-color: white;
  
}

.form-builder {
    padding: 20px;
  }
  
  .question-item {
    margin-bottom: 20px;
  }
  .button{
    font-size: larger;
    font-weight: bolder;
  }
  nz-input{
    width: 50%;
  }
  .form-label{
    text-align: left;
  }
  form {
    text-align: left;
    background-color: rgb(245, 243, 232)
  }
  .option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .title, .question {
      margin: auto 20px;
    }
  }
.dropdown{
  text-align: left;
  margin-top: 70px;
  margin-left: 200px;
  
}
